In [2]:
# import pandas as pd
# import glob

# # List of file paths (update with actual paths if running locally)
# file_paths = [
#     "Cleaned/ConsumerPriceIndexAllItemsCleaned.csv",
#     "Cleaned/FEDRatesCleaned.csv",
#     "Cleaned/GDPCleaned.csv",
#     "Cleaned/InflationConsumerPriceCleaned.csv",
#     "Cleaned/MedianConsumerPriceIndexCleaned.csv",
#     "Cleaned/RealGDPCleaned.csv",
#     "Cleaned/RealGDPPerCapitaCleaned.csv",
#     "Cleaned/RealPotentialGDPCleaned.csv",
#     "Cleaned/UnemployemenrRateCleaned.csv",
# ]

# # Read CSV files, drop 'Unnamed: 0' if it exists, and rename value columns
# dfs = []
# for file in file_paths:
#     df = pd.read_csv(file, parse_dates=["date"])  # Ensure 'date' is in datetime format
#     df = df.drop(columns=[col for col in df.columns if "Unnamed" in col], errors="ignore")  # Drop unnecessary columns
#     value_col = [col for col in df.columns if col != "date"][0]  # Identify the column with values
#     df = df.rename(columns={value_col: file.replace("Cleaned.csv", "").replace(".csv", "")})  # Rename column
#     dfs.append(df)

# # Merge all DataFrames on 'date' using an outer join
# merged_df = dfs[0]
# for df in dfs[1:]:
#     merged_df = pd.merge(merged_df, df, on="date", how="outer")

# # Convert NaN values to empty strings for better visualization
# merged_df = merged_df.fillna("")

# # Sort by date
# merged_df = merged_df.sort_values(by="date")

# # Save the merged DataFrame to a CSV file (optional)
# merged_df.to_csv("Cleaned/Merged_Data.csv", index=False)

# # Display the merged DataFrame
# print(merged_df.head())  # You can replace this with any other method to visualize the data

        date Cleaned/ConsumerPriceIndexAllItems Cleaned/FEDRates Cleaned/GDP  \
0 1946-01-01                                                               .
1 1946-04-01                                                               .
2 1946-07-01                                                               .
3 1946-10-01                                                               .
4 1947-01-01                                                         243.164

  Cleaned/InflationConsumerPrice Cleaned/MedianConsumerPriceIndex  \
0
1
2
3
4

  Cleaned/RealGDP Cleaned/RealGDPPerCapita Cleaned/RealPotentialGDP  \
0
1
2
3
4        2182.681                  15248.0

  Cleaned/UnemployemenrRate
0
1
2
3
4

In [8]:
import pandas as pd
df = pd.read_csv("Cleaned/Merged_Data.csv")
df.iloc[80:95].head(15)

,date,Cleaned/ConsumerPriceIndexAllItems,Cleaned/FEDRates,Cleaned/GDP,Cleaned/InflationConsumerPrice,Cleaned/MedianConsumerPriceIndex,Cleaned/RealGDP,Cleaned/RealGDPPerCapita,Cleaned/RealPotentialGDP,Cleaned/UnemployemenrRate
80,1954-01-01,NaN,NaN,385.345,NaN,NaN,2845.192,17636.0,2889.097210,4.9
81,1954-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2
82,1954-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.7
83,1954-04-01,NaN,NaN,386.121,NaN,NaN,2848.305,17584.0,2906.830302,5.9
84,1954-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9
85,1954-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.6
86,1954-07-01,NaN,0.80,390.996,NaN,NaN,2880.482,17701.0,2923.974918,5.8
87,1954-08-01,NaN,1.22,NaN,NaN,NaN,NaN,NaN,NaN,6.0
88,1954-09-01,NaN,1.07,NaN,NaN,NaN,NaN,NaN,NaN,6.1
89,1954-10-01,NaN,0.85,399.734,NaN,NaN,2936.852,17960.0,2941.999753,5.7
90,1954-11-01,NaN,0.83,NaN,NaN,NaN,NaN,NaN,NaN,5.3
91,1954-12-01,NaN,1.28,NaN,NaN,NaN,NaN,NaN,NaN,5.0
92,1955-01-01,NaN,1.39,413.073,NaN,NaN,3020.746,18396.0,2959.776200,4.9
93,1955-02-01,0.0,1.29,NaN,NaN,NaN,NaN,NaN,NaN,4.7
94,1955-03-01,0.0,1.35,NaN,NaN,NaN,NaN,NaN,NaN,4.6

In [9]:
df.columns

Index(['date', 'Cleaned/ConsumerPriceIndexAllItems', 'Cleaned/FEDRates',
       'Cleaned/GDP', 'Cleaned/InflationConsumerPrice',
       'Cleaned/MedianConsumerPriceIndex', 'Cleaned/RealGDP',
       'Cleaned/RealGDPPerCapita', 'Cleaned/RealPotentialGDP',
       'Cleaned/UnemployemenrRate'],
      dtype='object')